body {
	background-color: #535356;
}

.container {
	width: 50%;
	margin: 20px auto;

}

h1 {
	text-align: center;
	color: white;
	font-family: cursive;
	font-size: 18px;
}

main {
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	font-family: arial;
}

a {
	text-decoration: none;
	color: #535356;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid grey;
	border-radius: 50%;
	background-color: lightgrey;
	font-weight: bold;
}

i {
	color: #535356;
	font-size: 20px;
	float: left;
	line-height: 50px;
	font-style: bold;
}

h2 {
	color: #62626b;
}

p {
	color: grey;
}

.box1,
.box2 {
	border: 1px solid lightgrey;
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 500px;
	text-align: center;
	left: 0;
	top: 0;
	border-radius: 20px;
	box-shadow: 3px 3px 0px 3px lightgrey, 0px 35px 10px -20px rgba(0, 0, 0, .75);
	background-color: white;
}

.box1 img,
.box2 img {
	width: 200px;
	height: 400px;
	border-radius: 30px;
	padding-top: 20px;
}

.box1:hover {
	box-shadow: 3px 3px 0px 3px lightgrey, 10px 10px 10px 5px grey;
	transition: ease 0.5s;
	transform: scale(1.03);
}

.box2:hover {
	box-shadow: 3px 3px 0px 3px lightgrey, 8px 8px 8px 5px grey;
	transition: ease 0.5s;
	transform: scale(1.03);
}

.button {
	margin-top: 30px;
	font-family: arial;
	font-size: 14px;
	display: flex;
	justify-content: space-around;
}

.info,
.help {
	width: 80px;
	height: 50px;
	border-radius: 80px;
}

a.home {
	width: 50px;
	height: 50px;
	border-radius: 80px;
}

a:visited {
	color: black;
}

a:hover {
	box-shadow: 3px 3px 3px 0 lightgrey;
	font-size: 18px;
}

a:active {
	font-size: 15px;
}